/*****

 * General ***********/

* {
    font-family: "Raleway", sans-serif;

}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

.fa-solid.fa-info {
    font-size: 10px;
    margin-bottom: 3px;
}

body {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    margin-bottom: 0;
}

.container {
    margin-left: 50px;
    margin-right: 50px;
}

.activities-marseille .card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.hebergements .card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 4px solid white;  
    margin-bottom: 20px; 
}

.france {
    border: 1px solid var(--Grey, #f2f2f2);
    border-left: none;
    border-right: none;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
    width: 100%;
}

.card .picture{
    width: 85%;
}

.activities-menu
.accomodations-menu img {
    display: none;
}

.activities .card {
    border: none;
}

.section-title {
    margin: 0px;
    font-size: 22px;
}

.booki-title img {
    width: 100%;
}

.booki {
    align-self: center;
    width: 61px;
    height: 19px;
}

.populaires-cards .card {
    border-radius: 20px;
    background: #fff;
    display: flex;
    margin-top: 20px;
    height: 28%;
    width: 100%;
    border: 4px solid white;  
    margin-bottom: 20px; 
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    padding-left: 15px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: #F2F2F2;
}


header {
    display: flex;
    justify-content: space-between;
    height: 79px;
}

.menu {
    display: flex;
    gap: 68px;
    align-items: flex-end;
    justify-content: flex-end;
    list-style: none;
    max-height: 30px;
    margin-top: 25px;
}

.logos {
    display: flex;
}

.romantic-best_of {
    display: flex;
    height: 50px;
    gap: 15px;
    margin-left: 15px;
}

.eco-family {
    display: flex;
    height: 50px;
    gap: 15px;
}

.filterbar {
    display: flex;
    flex-direction: row;
    height: 49px;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.accomodations-menu {
    color: var(--Blue, #0065fc);
}

.accomodations-menu :hover {
    border-top: #0065fc solid 2px;
    padding-top: 18px;
}

.zone {
    margin-bottom: 35px;
    display: flex;
}

.black-button {
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.black-button i {
    color: #000;
    padding: 15px 20px;
}

.fa-solid.fa-info {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    padding-bottom: 1px;
}

.search {
    width: 133px;
    height: 49px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065fc);
    background: var(--Blue, #0065fc);
    color: #fff;
    text-align: center;
}

.searching-word {
    display: flex;
    height: 49px;
    padding: 0px 15px;
    align-items: center;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065fc);
    background: var(--Blue, #0065fc);
    color: var(--White, #fff);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.france {
    width: 205px;
    height: 49px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
}

.mf {
    width: 205px;
    height: 49px;
}

.button {
    padding: 16px 16px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065fc);
    background: var(--Blue, #0065fc);
    color: var(--White, #fff);
    font-weight: bold;
}

.magnifying_glass {
    display: none;
}

.same:hover {
    background: var(--Blue-Light, #deebff);
}

.same {
    font-weight: bold;
    display: flex;
    height: 36px;
    padding: 4px 19px;
    align-items: center;
    gap: 15px;
    border: 2px solid var(--grey-tint-2, #d9d9d9);
    flex-direction: row-reverse;
    border-radius: 30px;
}
.filters {
    gap: 0px;
    padding: 10px 3px;
}

.appartments {
    margin-bottom: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 8px;
}

.city {
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.one {
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
    margin-bottom: 8px;
}

.two {
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 35px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    width: 100%;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/******************************* Hebergements *****************************/
.populaires section {
    height: 80%;
}

.populaires {
    margin-left: 30px;
    width: 40%;
}

.hebergements {
    width: 80%;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    margin-top: 30px;
}

.hebergements-cards .title {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.hebergements-cards .card {
    display: flex;
    padding-bottom: 15px;
    flex-direction: column;
    gap: 3px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.hebergements-cards .content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
}

.hebergements-cards img {
    height: 112px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

.advertise {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 15px;

}

.hebergements-cards .card-subtitle {
    font-size: 14px;
    padding-left: 15px;
    height: 3px;
}

.hebergements-cards .card-rating {
    padding-left: 15px;
    padding-top: 8px;
}

.hebergements-cards .card-title {
    margin-top: 4px;
    padding-left: 15px;
    font-size: 16px;
}

/******************************* ACTIVITES *****************************/

.activities {
    margin-top: 65px;
    height: 559px;
}

.activities-marseille .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 22%;

}

.activities-marseille .card img {
    object-fit: cover;
    height: 370px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    display: block;

}

.activities .title2 {
    padding-left: 30px;
}

.activities .activities-marseille {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.activities .section-title {
    margin-top: 55px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.activities-marseille .card-title {
    padding-left: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.activities-marseille .card-content {
    height: 59px;
    display: flex;
    border-radius: 0px 0px 20px 20px;
    background: var(--White, #fff);
    width: 100%;
}

/******************************* Populaires *****************************/
.populaires section {
    height: 100%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards img {
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
}

.populaires-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 145%;
    padding-left: 15px;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    padding-left: 0px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards {
    margin-top: 10px;
    height: 100%;
}

.photos {
    width: 22.6%;
    height: 25%;
}

a .picture{
    width: 100%;
}
/******************************* FOOTER *****************************/

footer {
    background: var(--Grey, #f2f2f2);
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    height: 175px;
}

.about-cards,
.our_hebergements-cards,
.assistance-cards {
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
    width: 446px;
    height: 163px;
}

ul {
    list-style-type: none;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
}

h4 {
    padding-left: 40px;
}

.card-content ul li {
    margin-bottom: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/********************* Media queries *************************/

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        display: flex;
        margin-left: 0px;
        padding-bottom: 40px;
    }

    .container {
        margin-left: 50px;
        margin-right: 50px;
    }

    .booki {
        width: 62px;
        height: 20px;
    }

    .menu {
        display: flex;
        gap: 68px;
        align-items: flex-end;
        justify-content: flex-end;
        list-style: none;
        margin-top: 25px;
    }

    .activities-menu img {
        display: none;
    }

    .populaires-cards {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-self: stretch;
        padding-left: 7px;
    }

    .populaires-cards .card-content {
        display: flex;
        padding: 10px 5px 5px 0;
        flex-direction: column;
        align-self: stretch;
    }

    .populaires-cards .card-title {
        margin: 0px;
        padding-left: 0px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
        padding-top: 5px;
    }

    .populaires-cards .card {
        width: 80%;
        height: 135px;
        margin-top: 20px;
    }

    .populaires-cards img {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 90%;
    }

    .populaires .card-txt {
        justify-content: center;
    }

    header {
        display: flex;
        justify-content: space-between;
        height: 79px;
    }

    .menu header {
        width: 344px;
        height: 35px;
        display: flex;
        gap: 68px;
    }

    footer {
        height: 175px;
        margin-top: 35px;
    }

    .hebergements-cards{
        padding-right: 1%;
    }

    .hebergements-cards img {
        border-radius: 20px 20px 0px 0px;
    }

    .hebergements-cards .card {
        display: flex;
        padding-bottom: 15px;
        flex-direction: column;
        width: 100%;
    }

    .hebergements-cards .card-title {
        width: 100%;
    }

    .hebergements-cards .one {
        width: 80%;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements .card {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        border: 3px solid white;  
        margin-bottom: 20px; 
    }

    .appartments {
        display: flex;
        align-items: baseline;
    }

    .city {
        margin: 25px;
        margin-left: 0;
        margin-bottom: 0;
    }


    .advertise {
        color: #000;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .filterbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .filters {
        padding: 0;
        margin:0;
    }

    .activities {
        height: 350px;
    }

    .card-title {
        padding-left: 15px;
    }

    .activities-marseille .card img {
        height: 200px;
        width: 100%
    }

    .activities-marseille .card {
        gap: 0px;
        padding: 0px;
        width: 20%;
    }

    .about-cards .our_hebergements-cards .assistance-cards footer {
        font-size: 16px;
        line-height: 17px;
        height: 160px;
    }

    .our_hebergements-cards footer {
        height: 25%;
    }

    .activities-marseille .card-content {
        height: 70px;
    }

    ul {
        list-style-type: none;
    }
}

/* Small devices (phones, less than 768px) */
@media (min-width: 320px) and (max-width: 767.98px) {
    /* ... */
    .fa-solid.fa-info {
        width: 28px;
        height: 22px;
        border-radius: 100%;
        border: 1px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1px;
        padding-bottom: 1px;
    }

    .fa-solid.fa-star.neutral-star {
        color: gainsboro;
    }

    .fa-solid.fa-chart-line {
        font-size: 20px;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-top: 0;
    

    }

    .container {
        margin: auto;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-bottom: 55px;
        margin: 10px;
    }

    .menu {
        gap: 0;
        width: 100%;
        place-content: center;
    }

    .filterbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0;
        align-self: stretch;
        width: 100%;
        height: 190px;
        padding-left: 20px;
    }

    .filterbar .filters {
        width: 100%;
        height: 21px;
        font-size: 18px;
        font-weight: 700;
        margin-top: 35px;
        padding-left: 15px;
    }

    .logos {
        display: flex;
        gap: 10px;
    }

    .filterbar .logos {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        align-self: stretch;
        width: 100%;
    }

    .logos .romantic-best_of {
        margin-left: 0;
        width: 95%;
        height: 67px;
        justify-content: center;
        gap: 10px;
    }

    .logos .eco-family {
        width: 95%;
        height: 67px;
        justify-content: center;
        gap: 10px;
    }

    .same{
        width: 100%;
        height: 42px;
        justify-content: flex-end;
        font-size: 14px;
    }

    .appartments {
        align-self: center;
        padding-left: 20px;
        margin-top: 35px;
    }

    .appartments .city {
        font-size: 17px;
        padding-left: 5px;
    }

    .top {
        width: 100%;
        height: 100px;
        display: flex;
        padding: 0px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .infogroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 4128px;
        width: 92%;
    }

    .searching-word {
        display: none;
    }

    .search {
        border: none;
        background: none;
    }

    .section-title {
        font-size: 40px;
        text-align: center;
    }

    .france_txt {
        padding-right: 46px;
    }

    .infogroup .one {
        align-self: stretch;
        font-size: 22px;
        align-self: stretch;
        width: 100%;
        height: 52px;
    }

    .infogroup .two {
        font-size: 16px;
        margin: 0px;
        width: 100%;
        height: 19px;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        width: 100%;
        height: 130px;
    }

    .booki img {
        display: flex;
        padding: 30px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .booki-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu header {
        padding: 0;
        gap: 0;
    }

    .activities-menu {
        text-align: center;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: inline-block;
        border-bottom: 2px solid #f2f2f2;
        padding-bottom: 15px;
    }


    .blue {
        width: 100%;
        text-align: center;
    }

    .grey {
        width: 100%;
        text-align: center;
    }

    .accomodations-menu {
        text-align: end;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        display: inline-block;
        padding-bottom: 15px;
        border-bottom: 2px solid #f2f2f2;
        width: 100%;
        padding-left: 0;
    }

    .blue :hover {
        border-top: 2px solid transparent;
    }

    .activities-menu {
        padding-bottom: 15px;
        width: 100%;
        padding-left: 0;
    }


    .magnifying_glass {
        border-radius: 15px;
        border: 1px solid var(--Grey, #F2F2F2);
        background: #0065FC;
        display: block;
        height: 50px;
    }

    .square i {
        color: #fff;
        display: inline-flex;
        height: 40%;
        width: 100%;
        padding: 15px 15px;
        align-items: center;
        gap: 10px;
    }

    .accomodations-menu:hover {
        border-bottom: 2px solid #0065FC;
    }

    .fa-location-dot {
        padding: 15px 0 0 20px;
    }

    .zone {
        width: 100%;
        height: 40px;
        display: flex;
        align-self: stretch;
        margin-top: 20px;
        padding-left: 20px;
    }

    .france {
        border: 1px solid var(--Grey, #f2f2f2);
        width: 79%;
        text-align: start;
        padding-left: 20px;
    }

    .black-button {
        height: 53px;
        width: 50px;
    }

    .hebergements .section-title {
        font-size: 22px;
        display: flex;
        width: 335px;
        height: 26px;
        font-weight: 700;
    }


    .hebergements-cards .card-subtitle {
        font-size: 14px;
        display: flex;
        width: 305px;
        height: 10px;
    }

    .hebergements-and-populaires .hebergements {
        background: white;
        width: 98%;
        margin-top: 30px;
        padding: 5%;
    }

    .hebergements-cards img {
        width: 100%;
        height: 116px;
        border-radius: 20px 20px 0px 0px;
    }

    .hebergements-cards .card-rating {
        font-size: 20px;
        display: flex;
        padding-bottom: 5px;
    }

    .card {
        box-shadow: none;
    }

    .hebergements-and-populaires {
        margin: 0;
    }

    .hebergements-and-populaires .populaires {
        width: 99%;
        margin: 0;
        padding: 5%;
        border-radius: 0px;
    }

    .populaires-cards .card-content {
        display: flex;
        padding: 0 8px 10px 15px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
    }

    .populaires .populaires-title {
        gap: 20px;
        padding-bottom: 15px;
        text-align-last: left;
        padding-right: 3px;
    }

    .populaires .section-title {
        font-size: 22px;
    }

    .populaires-cards .card-title {
        font-size: 16px;
        display: flex;
        justify-content: center;
        font-weight: 700;
    }

    .populaires-cards .card-subtitle {
        font-size: 15px;
        font-weight: 400;
    }

    .populaires-cards .card {
        height: 146px;
        margin-top: 1px;
        border: 4px solid white; 
    border-radius: 20px; 
    margin-bottom: 20px; 
  
    }

    .populaires-cards .card-rating {
        display: flex;
        justify-content: center;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        align-self: stretch;
        width: 100%;
    }

    .euro {
        font-size: 14px;
        font-weight: 600;
    }

    .hebergements-cards .card-title {
        font-size: 17px;
        display: flex;
    }

    .fa-solid .fa-chart-line {
        width: 100%;
    }

    .title2 {
        font-size: 23px;
        padding-top: 50px;
        padding-bottom: 10px;
    }

    .activities {
        width: 100%;
        height: 1025px;
        padding: 0 35px;
        margin-top: 0;
    }

    .activities-marseille {
        width: 88%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .activities .activities-marseille {
        gap: 15px
    }

    .activities .title2 {
        padding-left: 6px;
    }

    .activities-marseille .card {
        width: 92%;
        padding-bottom: 0;
        padding-top: 0;
    }

    .activities-marseille .card img {
        height: 145px;
    }

    .activities-marseille .card-content {
        width: 91%;
        height: 65px;
    }

    .activities-marseille .card-title {
        display: flex;
        justify-content: center;
        padding-right: 19px;
    }

    .advertise {
        font-size: 19px;
        font-weight: 700;
        margin: 0;
        width: 335px;
        height: 21px;
        margin: 0;
        margin-top: 15px;
    }

    footer {
        height: 510px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
        width: 100%;
    }

    .about-cards footer {
        padding-top: 16px;
    }

    .apropos-cards .card-content {
        width: 230px;
        height: 140px;
    }

    .our_hebergements-cards .card-content {
        width: 200px;
        height: 110px;
    }

    .assistance-cards .card-content {
        width: 200px;
        height: 200px;
    }

    ul {
        list-style-type: none;
    }

    .card-text {
        gap: 10px;
    }
}